<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>arrowNE</key>
	<string>arrowNE_.glif</string>
	<key>arrowNW</key>
	<string>arrowNW_.glif</string>
	<key>arrowSE</key>
	<string>arrowSE_.glif</string>
	<key>arrowSW</key>
	<string>arrowSW_.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chart.dot</key>
	<string>chart.dot.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dot.000</key>
	<string>dot.000.glif</string>
	<key>dot.001</key>
	<string>dot.001.glif</string>
	<key>dot.002</key>
	<string>dot.002.glif</string>
	<key>dot.003</key>
	<string>dot.003.glif</string>
	<key>dot.004</key>
	<string>dot.004.glif</string>
	<key>dot.005</key>
	<string>dot.005.glif</string>
	<key>dot.006</key>
	<string>dot.006.glif</string>
	<key>dot.007</key>
	<string>dot.007.glif</string>
	<key>dot.008</key>
	<string>dot.008.glif</string>
	<key>dot.009</key>
	<string>dot.009.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>line.000.000</key>
	<string>line.000.000.glif</string>
	<key>line.000.001</key>
	<string>line.000.001.glif</string>
	<key>line.000.002</key>
	<string>line.000.002.glif</string>
	<key>line.000.003</key>
	<string>line.000.003.glif</string>
	<key>line.000.004</key>
	<string>line.000.004.glif</string>
	<key>line.000.005</key>
	<string>line.000.005.glif</string>
	<key>line.000.006</key>
	<string>line.000.006.glif</string>
	<key>line.000.007</key>
	<string>line.000.007.glif</string>
	<key>line.000.008</key>
	<string>line.000.008.glif</string>
	<key>line.000.009</key>
	<string>line.000.009.glif</string>
	<key>line.001.000</key>
	<string>line.001.000.glif</string>
	<key>line.001.001</key>
	<string>line.001.001.glif</string>
	<key>line.001.002</key>
	<string>line.001.002.glif</string>
	<key>line.001.003</key>
	<string>line.001.003.glif</string>
	<key>line.001.004</key>
	<string>line.001.004.glif</string>
	<key>line.001.005</key>
	<string>line.001.005.glif</string>
	<key>line.001.006</key>
	<string>line.001.006.glif</string>
	<key>line.001.007</key>
	<string>line.001.007.glif</string>
	<key>line.001.008</key>
	<string>line.001.008.glif</string>
	<key>line.001.009</key>
	<string>line.001.009.glif</string>
	<key>line.002.000</key>
	<string>line.002.000.glif</string>
	<key>line.002.001</key>
	<string>line.002.001.glif</string>
	<key>line.002.002</key>
	<string>line.002.002.glif</string>
	<key>line.002.003</key>
	<string>line.002.003.glif</string>
	<key>line.002.004</key>
	<string>line.002.004.glif</string>
	<key>line.002.005</key>
	<string>line.002.005.glif</string>
	<key>line.002.006</key>
	<string>line.002.006.glif</string>
	<key>line.002.007</key>
	<string>line.002.007.glif</string>
	<key>line.002.008</key>
	<string>line.002.008.glif</string>
	<key>line.002.009</key>
	<string>line.002.009.glif</string>
	<key>line.003.000</key>
	<string>line.003.000.glif</string>
	<key>line.003.001</key>
	<string>line.003.001.glif</string>
	<key>line.003.002</key>
	<string>line.003.002.glif</string>
	<key>line.003.003</key>
	<string>line.003.003.glif</string>
	<key>line.003.004</key>
	<string>line.003.004.glif</string>
	<key>line.003.005</key>
	<string>line.003.005.glif</string>
	<key>line.003.006</key>
	<string>line.003.006.glif</string>
	<key>line.003.007</key>
	<string>line.003.007.glif</string>
	<key>line.003.008</key>
	<string>line.003.008.glif</string>
	<key>line.003.009</key>
	<string>line.003.009.glif</string>
	<key>line.004.000</key>
	<string>line.004.000.glif</string>
	<key>line.004.001</key>
	<string>line.004.001.glif</string>
	<key>line.004.002</key>
	<string>line.004.002.glif</string>
	<key>line.004.003</key>
	<string>line.004.003.glif</string>
	<key>line.004.004</key>
	<string>line.004.004.glif</string>
	<key>line.004.005</key>
	<string>line.004.005.glif</string>
	<key>line.004.006</key>
	<string>line.004.006.glif</string>
	<key>line.004.007</key>
	<string>line.004.007.glif</string>
	<key>line.004.008</key>
	<string>line.004.008.glif</string>
	<key>line.004.009</key>
	<string>line.004.009.glif</string>
	<key>line.005.000</key>
	<string>line.005.000.glif</string>
	<key>line.005.001</key>
	<string>line.005.001.glif</string>
	<key>line.005.002</key>
	<string>line.005.002.glif</string>
	<key>line.005.003</key>
	<string>line.005.003.glif</string>
	<key>line.005.004</key>
	<string>line.005.004.glif</string>
	<key>line.005.005</key>
	<string>line.005.005.glif</string>
	<key>line.005.006</key>
	<string>line.005.006.glif</string>
	<key>line.005.007</key>
	<string>line.005.007.glif</string>
	<key>line.005.008</key>
	<string>line.005.008.glif</string>
	<key>line.005.009</key>
	<string>line.005.009.glif</string>
	<key>line.006.000</key>
	<string>line.006.000.glif</string>
	<key>line.006.001</key>
	<string>line.006.001.glif</string>
	<key>line.006.002</key>
	<string>line.006.002.glif</string>
	<key>line.006.003</key>
	<string>line.006.003.glif</string>
	<key>line.006.004</key>
	<string>line.006.004.glif</string>
	<key>line.006.005</key>
	<string>line.006.005.glif</string>
	<key>line.006.006</key>
	<string>line.006.006.glif</string>
	<key>line.006.007</key>
	<string>line.006.007.glif</string>
	<key>line.006.008</key>
	<string>line.006.008.glif</string>
	<key>line.006.009</key>
	<string>line.006.009.glif</string>
	<key>line.007.000</key>
	<string>line.007.000.glif</string>
	<key>line.007.001</key>
	<string>line.007.001.glif</string>
	<key>line.007.002</key>
	<string>line.007.002.glif</string>
	<key>line.007.003</key>
	<string>line.007.003.glif</string>
	<key>line.007.004</key>
	<string>line.007.004.glif</string>
	<key>line.007.005</key>
	<string>line.007.005.glif</string>
	<key>line.007.006</key>
	<string>line.007.006.glif</string>
	<key>line.007.007</key>
	<string>line.007.007.glif</string>
	<key>line.007.008</key>
	<string>line.007.008.glif</string>
	<key>line.007.009</key>
	<string>line.007.009.glif</string>
	<key>line.008.000</key>
	<string>line.008.000.glif</string>
	<key>line.008.001</key>
	<string>line.008.001.glif</string>
	<key>line.008.002</key>
	<string>line.008.002.glif</string>
	<key>line.008.003</key>
	<string>line.008.003.glif</string>
	<key>line.008.004</key>
	<string>line.008.004.glif</string>
	<key>line.008.005</key>
	<string>line.008.005.glif</string>
	<key>line.008.006</key>
	<string>line.008.006.glif</string>
	<key>line.008.007</key>
	<string>line.008.007.glif</string>
	<key>line.008.008</key>
	<string>line.008.008.glif</string>
	<key>line.008.009</key>
	<string>line.008.009.glif</string>
	<key>line.009.000</key>
	<string>line.009.000.glif</string>
	<key>line.009.001</key>
	<string>line.009.001.glif</string>
	<key>line.009.002</key>
	<string>line.009.002.glif</string>
	<key>line.009.003</key>
	<string>line.009.003.glif</string>
	<key>line.009.004</key>
	<string>line.009.004.glif</string>
	<key>line.009.005</key>
	<string>line.009.005.glif</string>
	<key>line.009.006</key>
	<string>line.009.006.glif</string>
	<key>line.009.007</key>
	<string>line.009.007.glif</string>
	<key>line.009.008</key>
	<string>line.009.008.glif</string>
	<key>line.009.009</key>
	<string>line.009.009.glif</string>
	<key>line.down.eight</key>
	<string>line.down.eight.glif</string>
	<key>line.down.five</key>
	<string>line.down.five.glif</string>
	<key>line.down.four</key>
	<string>line.down.four.glif</string>
	<key>line.down.nine</key>
	<string>line.down.nine.glif</string>
	<key>line.down.one</key>
	<string>line.down.one.glif</string>
	<key>line.down.seven</key>
	<string>line.down.seven.glif</string>
	<key>line.down.six</key>
	<string>line.down.six.glif</string>
	<key>line.down.three</key>
	<string>line.down.three.glif</string>
	<key>line.down.two</key>
	<string>line.down.two.glif</string>
	<key>line.flat</key>
	<string>line.flat.glif</string>
	<key>line.up.eight</key>
	<string>line.up.eight.glif</string>
	<key>line.up.five</key>
	<string>line.up.five.glif</string>
	<key>line.up.four</key>
	<string>line.up.four.glif</string>
	<key>line.up.nine</key>
	<string>line.up.nine.glif</string>
	<key>line.up.one</key>
	<string>line.up.one.glif</string>
	<key>line.up.seven</key>
	<string>line.up.seven.glif</string>
	<key>line.up.six</key>
	<string>line.up.six.glif</string>
	<key>line.up.three</key>
	<string>line.up.three.glif</string>
	<key>line.up.two</key>
	<string>line.up.two.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
