<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.background.layerShow</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowPoints</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<integer>0</integer>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/mikegallagher/Dropbox/Work/Clients/After the Flood/Spark font/Output/otf/Sparks-Dot-Extrasmall.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<integer>0</integer>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>sketching</string>
		<string>reference</string>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.reference.layerShow</key>
	<true/>
	<key>com.typemytype.robofont.reference.layerStrokeColor</key>
	<array>
		<real>0.1389</real>
		<real>0.4361</real>
		<real>0.9724</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sketching.layerShow</key>
	<false/>
	<key>com.typemytype.robofont.sketching.layerStrokeColor</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>.null</string>
				<string>nonmarkingreturn</string>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Z</string>
				<string>AE</string>
				<string>OE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>oe</string>
				<string>eth</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>dotlessi</string>
				<string>mu</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>onesuperior</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>foursuperscript</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>bracketleft</string>
				<string>braceleft</string>
				<string>parenright</string>
				<string>bracketright</string>
				<string>braceright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>asterisk</string>
				<string>comma</string>
				<string>period</string>
				<string>slash</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>question</string>
				<string>at</string>
				<string>backslash</string>
				<string>exclamdown</string>
				<string>periodcentered</string>
				<string>questiondown</string>
				<string>plus</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>bar</string>
				<string>asciitilde</string>
				<string>logicalnot</string>
				<string>plusminus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>minus</string>
				<string>Euro</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>Bstroke</string>
				<string>asciicircum</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>grave</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>acute</string>
				<string>cedilla</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>copyright</string>
				<string>registered</string>
				<string>degree</string>
				<string>paragraph</string>
				<string>space</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>guillemetleft</string>
				<string>guillemetright</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>chart.primitive</string>
				<string>chart.000</string>
				<string>chart.001</string>
				<string>chart.002</string>
				<string>chart.003</string>
				<string>chart.004</string>
				<string>chart.005</string>
				<string>chart.006</string>
				<string>chart.007</string>
				<string>chart.008</string>
				<string>chart.009</string>
				<string>chart.010</string>
				<string>chart.011</string>
				<string>chart.012</string>
				<string>chart.013</string>
				<string>chart.014</string>
				<string>chart.015</string>
				<string>chart.016</string>
				<string>chart.017</string>
				<string>chart.018</string>
				<string>chart.019</string>
				<string>chart.020</string>
				<string>chart.021</string>
				<string>chart.022</string>
				<string>chart.023</string>
				<string>chart.024</string>
				<string>chart.025</string>
				<string>chart.026</string>
				<string>chart.027</string>
				<string>chart.028</string>
				<string>chart.029</string>
				<string>chart.030</string>
				<string>chart.031</string>
				<string>chart.032</string>
				<string>chart.033</string>
				<string>chart.034</string>
				<string>chart.035</string>
				<string>chart.036</string>
				<string>chart.037</string>
				<string>chart.038</string>
				<string>chart.039</string>
				<string>chart.040</string>
				<string>chart.041</string>
				<string>chart.042</string>
				<string>chart.043</string>
				<string>chart.044</string>
				<string>chart.045</string>
				<string>chart.046</string>
				<string>chart.047</string>
				<string>chart.048</string>
				<string>chart.049</string>
				<string>chart.050</string>
				<string>chart.051</string>
				<string>chart.052</string>
				<string>chart.053</string>
				<string>chart.054</string>
				<string>chart.055</string>
				<string>chart.056</string>
				<string>chart.057</string>
				<string>chart.058</string>
				<string>chart.059</string>
				<string>chart.060</string>
				<string>chart.061</string>
				<string>chart.062</string>
				<string>chart.063</string>
				<string>chart.064</string>
				<string>chart.065</string>
				<string>chart.066</string>
				<string>chart.067</string>
				<string>chart.068</string>
				<string>chart.069</string>
				<string>chart.070</string>
				<string>chart.071</string>
				<string>chart.072</string>
				<string>chart.073</string>
				<string>chart.074</string>
				<string>chart.075</string>
				<string>chart.076</string>
				<string>chart.077</string>
				<string>chart.078</string>
				<string>chart.079</string>
				<string>chart.080</string>
				<string>chart.081</string>
				<string>chart.082</string>
				<string>chart.083</string>
				<string>chart.084</string>
				<string>chart.085</string>
				<string>chart.086</string>
				<string>chart.087</string>
				<string>chart.088</string>
				<string>chart.089</string>
				<string>chart.090</string>
				<string>chart.091</string>
				<string>chart.092</string>
				<string>chart.093</string>
				<string>chart.094</string>
				<string>chart.095</string>
				<string>chart.096</string>
				<string>chart.097</string>
				<string>chart.098</string>
				<string>chart.099</string>
				<string>chart.100</string>
				<string>arrowleft</string>
				<string>arrowup</string>
				<string>arrowright</string>
				<string>arrowdown</string>
				<string>arrowNE</string>
				<string>arrowNW</string>
				<string>arrowSE</string>
				<string>arrowSW</string>
				<string>uniF000</string>
				<string>uniEFFD</string>
				<string>uniE0FF</string>
				<string>nbspace</string>
				<string>ellipsis</string>
				<string>0152</string>
				<string>0153</string>
				<string>circle.d</string>
				<string>circle.l</string>
				<string>circle.w</string>
				<string>circle.arrowdown</string>
				<string>circle.arrowup</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>org.unifiedfontobject.normalizer.modTimes</key>
	<string>version: 0.3.3.dev0
1517310897.2 fontinfo.plist
1517310896.7 glyphs/A_.glif
1517310896.7 glyphs/A_E_.glif
1517310896.7 glyphs/A_acute.glif
1517310896.7 glyphs/A_circumflex.glif
1517310896.7 glyphs/A_dieresis.glif
1517310896.7 glyphs/A_grave.glif
1517310896.7 glyphs/A_ring.glif
1517310896.7 glyphs/A_tilde.glif
1517310896.7 glyphs/B_.glif
1517310896.7 glyphs/B_stroke.glif
1517310896.7 glyphs/C_.glif
1517310896.7 glyphs/C_cedilla.glif
1517310896.7 glyphs/D_.glif
1517310896.7 glyphs/E_.glif
1517310896.7 glyphs/E_acute.glif
1517310896.7 glyphs/E_circumflex.glif
1517310896.7 glyphs/E_dieresis.glif
1517310896.7 glyphs/E_grave.glif
1517310896.7 glyphs/E_th.glif
1517310896.7 glyphs/E_uro.glif
1517310896.7 glyphs/F_.glif
1517310896.7 glyphs/G_.glif
1517310896.7 glyphs/H_.glif
1517310896.7 glyphs/I_.glif
1517310896.7 glyphs/I_acute.glif
1517310896.7 glyphs/I_circumflex.glif
1517310896.7 glyphs/I_dieresis.glif
1517310896.7 glyphs/I_grave.glif
1517310896.7 glyphs/J_.glif
1517310896.7 glyphs/K_.glif
1517310896.7 glyphs/L_.glif
1517310896.7 glyphs/M_.glif
1517310896.7 glyphs/N_.glif
1517310896.7 glyphs/N_tilde.glif
1517310896.7 glyphs/O_.glif
1517310896.7 glyphs/O_E_.glif
1517310896.7 glyphs/O_acute.glif
1517310896.7 glyphs/O_circumflex.glif
1517310896.7 glyphs/O_dieresis.glif
1517310896.7 glyphs/O_grave.glif
1517310896.7 glyphs/O_slash.glif
1517310896.7 glyphs/O_tilde.glif
1517310896.7 glyphs/P_.glif
1517310896.7 glyphs/Q_.glif
1517310896.7 glyphs/R_.glif
1517310896.7 glyphs/S_.glif
1517310896.7 glyphs/T_.glif
1517310896.7 glyphs/T_horn.glif
1517310896.7 glyphs/U_.glif
1517310896.7 glyphs/U_acute.glif
1517310896.7 glyphs/U_circumflex.glif
1517310896.7 glyphs/U_dieresis.glif
1517310896.7 glyphs/U_grave.glif
1517310896.7 glyphs/V_.glif
1517310896.7 glyphs/W_.glif
1517310896.7 glyphs/X_.glif
1517310896.7 glyphs/Y_.glif
1517310896.7 glyphs/Y_acute.glif
1517310896.7 glyphs/Z_.glif
1517310896.7 glyphs/_notdef.glif
1517310896.7 glyphs/_null.glif
1517310896.7 glyphs/a.glif
1517310896.7 glyphs/aacute.glif
1517310896.7 glyphs/acircumflex.glif
1517310896.8 glyphs/acute.glif
1517310896.8 glyphs/adieresis.glif
1517310896.8 glyphs/ae.glif
1517310896.8 glyphs/agrave.glif
1517310896.8 glyphs/ampersand.glif
1517310896.8 glyphs/aring.glif
1517310896.8 glyphs/arrowN_E_.glif
1517310896.8 glyphs/arrowN_W_.glif
1517310896.8 glyphs/arrowS_E_.glif
1517310896.8 glyphs/arrowS_W_.glif
1517310896.8 glyphs/arrowdown.glif
1517310896.8 glyphs/arrowleft.glif
1517310896.8 glyphs/arrowright.glif
1517310896.8 glyphs/arrowup.glif
1517310896.8 glyphs/asciicircum.glif
1517310896.8 glyphs/asciitilde.glif
1517310896.8 glyphs/asterisk.glif
1517310896.8 glyphs/at.glif
1517310896.8 glyphs/atilde.glif
1517310896.8 glyphs/b.glif
1517310896.8 glyphs/backslash.glif
1517310896.8 glyphs/bar.glif
1517310896.8 glyphs/braceleft.glif
1517310896.8 glyphs/braceright.glif
1517310896.8 glyphs/bracketleft.glif
1517310896.8 glyphs/bracketright.glif
1517310896.8 glyphs/breve.glif
1517310896.8 glyphs/brokenbar.glif
1517310896.8 glyphs/c.glif
1517310896.8 glyphs/caron.glif
1517310896.8 glyphs/ccedilla.glif
1517310896.8 glyphs/cedilla.glif
1517310896.8 glyphs/cent.glif
1517310896.8 glyphs/chart.000.glif
1517310896.8 glyphs/chart.001.glif
1517310896.8 glyphs/chart.002.glif
1517310896.8 glyphs/chart.003.glif
1517310896.8 glyphs/chart.004.glif
1517310896.8 glyphs/chart.005.glif
1517310896.8 glyphs/chart.006.glif
1517310896.8 glyphs/chart.007.glif
1517310896.8 glyphs/chart.008.glif
1517310896.8 glyphs/chart.009.glif
1517310896.8 glyphs/chart.010.glif
1517310896.8 glyphs/chart.011.glif
1517310896.8 glyphs/chart.012.glif
1517310896.8 glyphs/chart.013.glif
1517310896.8 glyphs/chart.014.glif
1517310896.8 glyphs/chart.015.glif
1517310896.8 glyphs/chart.016.glif
1517310896.8 glyphs/chart.017.glif
1517310896.8 glyphs/chart.018.glif
1517310896.9 glyphs/chart.019.glif
1517310896.9 glyphs/chart.020.glif
1517310896.9 glyphs/chart.021.glif
1517310896.9 glyphs/chart.022.glif
1517310896.9 glyphs/chart.023.glif
1517310896.9 glyphs/chart.024.glif
1517310896.9 glyphs/chart.025.glif
1517310896.9 glyphs/chart.026.glif
1517310896.9 glyphs/chart.027.glif
1517310896.9 glyphs/chart.028.glif
1517310896.9 glyphs/chart.029.glif
1517310896.9 glyphs/chart.030.glif
1517310896.9 glyphs/chart.031.glif
1517310896.9 glyphs/chart.032.glif
1517310896.9 glyphs/chart.033.glif
1517310896.9 glyphs/chart.034.glif
1517310896.9 glyphs/chart.035.glif
1517310896.9 glyphs/chart.036.glif
1517310896.9 glyphs/chart.037.glif
1517310896.9 glyphs/chart.038.glif
1517310896.9 glyphs/chart.039.glif
1517310896.9 glyphs/chart.040.glif
1517310896.9 glyphs/chart.041.glif
1517310896.9 glyphs/chart.042.glif
1517310896.9 glyphs/chart.043.glif
1517310896.9 glyphs/chart.044.glif
1517310896.9 glyphs/chart.045.glif
1517310896.9 glyphs/chart.046.glif
1517310896.9 glyphs/chart.047.glif
1517310896.9 glyphs/chart.048.glif
1517310896.9 glyphs/chart.049.glif
1517310896.9 glyphs/chart.050.glif
1517310896.9 glyphs/chart.051.glif
1517310896.9 glyphs/chart.052.glif
1517310896.9 glyphs/chart.053.glif
1517310896.9 glyphs/chart.054.glif
1517310896.9 glyphs/chart.055.glif
1517310896.9 glyphs/chart.056.glif
1517310896.9 glyphs/chart.057.glif
1517310896.9 glyphs/chart.058.glif
1517310896.9 glyphs/chart.059.glif
1517310896.9 glyphs/chart.060.glif
1517310896.9 glyphs/chart.061.glif
1517310896.9 glyphs/chart.062.glif
1517310896.9 glyphs/chart.063.glif
1517310896.9 glyphs/chart.064.glif
1517310896.9 glyphs/chart.065.glif
1517310896.9 glyphs/chart.066.glif
1517310896.9 glyphs/chart.067.glif
1517310896.9 glyphs/chart.068.glif
1517310896.9 glyphs/chart.069.glif
1517310896.9 glyphs/chart.070.glif
1517310896.9 glyphs/chart.071.glif
1517310896.9 glyphs/chart.072.glif
1517310896.9 glyphs/chart.073.glif
1517310896.9 glyphs/chart.074.glif
1517310896.9 glyphs/chart.075.glif
1517310896.9 glyphs/chart.076.glif
1517310896.9 glyphs/chart.077.glif
1517310896.9 glyphs/chart.078.glif
1517310896.9 glyphs/chart.079.glif
1517310896.9 glyphs/chart.080.glif
1517310896.9 glyphs/chart.081.glif
1517310896.9 glyphs/chart.082.glif
1517310896.9 glyphs/chart.083.glif
1517310896.9 glyphs/chart.084.glif
1517310896.9 glyphs/chart.085.glif
1517310896.9 glyphs/chart.086.glif
1517310896.9 glyphs/chart.087.glif
1517310896.9 glyphs/chart.088.glif
1517310896.9 glyphs/chart.089.glif
1517310896.9 glyphs/chart.090.glif
1517310896.9 glyphs/chart.091.glif
1517310896.9 glyphs/chart.092.glif
1517310896.9 glyphs/chart.093.glif
1517310896.9 glyphs/chart.094.glif
1517310896.9 glyphs/chart.095.glif
1517310896.9 glyphs/chart.096.glif
1517310896.9 glyphs/chart.097.glif
1517310896.9 glyphs/chart.098.glif
1517310896.9 glyphs/chart.099.glif
1517310896.9 glyphs/chart.100.glif
1517310896.9 glyphs/chart.primitive.glif
1517310896.9 glyphs/circle.arrowdown.glif
1517310896.9 glyphs/circle.arrowup.glif
1517310896.9 glyphs/circle.d.glif
1517310896.9 glyphs/circle.l.glif
1517310896.9 glyphs/circle.w.glif
1517310896.9 glyphs/circumflex.glif
1517310896.9 glyphs/colon.glif
1517310896.9 glyphs/comma.glif
1517310896.9 glyphs/copyright.glif
1517310896.9 glyphs/currency.glif
1517310896.9 glyphs/d.glif
1517310896.9 glyphs/degree.glif
1517310897.0 glyphs/dieresis.glif
1517310897.0 glyphs/divide.glif
1517310897.0 glyphs/dollar.glif
1517310897.0 glyphs/dotaccent.glif
1517310897.0 glyphs/dotlessi.glif
1517310897.0 glyphs/e.glif
1517310897.0 glyphs/eacute.glif
1517310897.0 glyphs/ecircumflex.glif
1517310897.0 glyphs/edieresis.glif
1517310897.0 glyphs/egrave.glif
1517310897.0 glyphs/eight.glif
1517310897.0 glyphs/ellipsis.glif
1517310897.0 glyphs/emdash.glif
1517310897.0 glyphs/endash.glif
1517310897.0 glyphs/equal.glif
1517310897.0 glyphs/eth.glif
1517310897.0 glyphs/exclam.glif
1517310897.0 glyphs/exclamdown.glif
1517310897.0 glyphs/f.glif
1517310897.0 glyphs/five.glif
1517310897.0 glyphs/four.glif
1517310897.0 glyphs/foursuperscript.glif
1517310897.0 glyphs/g.glif
1517310897.0 glyphs/germandbls.glif
1517310897.0 glyphs/grave.glif
1517310897.0 glyphs/greater.glif
1517310897.0 glyphs/guillemetleft.glif
1517310897.0 glyphs/guillemetright.glif
1517310897.0 glyphs/guilsinglleft.glif
1517310897.0 glyphs/guilsinglright.glif
1517310897.0 glyphs/h.glif
1517310897.0 glyphs/hungarumlaut.glif
1517310897.0 glyphs/hyphen.glif
1517310897.0 glyphs/i.glif
1517310897.0 glyphs/iacute.glif
1517310897.0 glyphs/icircumflex.glif
1517310897.0 glyphs/idieresis.glif
1517310897.0 glyphs/igrave.glif
1517310897.0 glyphs/j.glif
1517310897.0 glyphs/k.glif
1517310897.0 glyphs/l.glif
1517310897.0 glyphs/less.glif
1517310897.0 glyphs/logicalnot.glif
1517310897.0 glyphs/m.glif
1517310897.0 glyphs/macron.glif
1517310897.0 glyphs/minus.glif
1517310897.0 glyphs/mu.glif
1517310897.0 glyphs/multiply.glif
1517310897.0 glyphs/n.glif
1517310897.0 glyphs/nbspace.glif
1517310897.0 glyphs/nine.glif
1517310897.0 glyphs/nonmarkingreturn.glif
1517310897.0 glyphs/ntilde.glif
1517310897.0 glyphs/numbersign.glif
1517310897.0 glyphs/o.glif
1517310897.0 glyphs/oacute.glif
1517310897.0 glyphs/ocircumflex.glif
1517310897.0 glyphs/odieresis.glif
1517310897.0 glyphs/oe.glif
1517310897.0 glyphs/ograve.glif
1517310897.0 glyphs/one.glif
1517310897.0 glyphs/onehalf.glif
1517310897.1 glyphs/onequarter.glif
1517310897.1 glyphs/onesuperior.glif
1517310897.1 glyphs/ordfeminine.glif
1517310897.1 glyphs/ordmasculine.glif
1517310897.1 glyphs/oslash.glif
1517310897.1 glyphs/otilde.glif
1517310897.1 glyphs/p.glif
1517310897.1 glyphs/paragraph.glif
1517310897.1 glyphs/parenleft.glif
1517310897.1 glyphs/parenright.glif
1517310897.1 glyphs/percent.glif
1517310897.1 glyphs/period.glif
1517310897.1 glyphs/periodcentered.glif
1517310897.1 glyphs/plus.glif
1517310897.1 glyphs/plusminus.glif
1517310897.1 glyphs/q.glif
1517310897.1 glyphs/question.glif
1517310897.1 glyphs/questiondown.glif
1517310897.1 glyphs/quotedbl.glif
1517310897.1 glyphs/quotedblleft.glif
1517310897.1 glyphs/quotedblright.glif
1517310897.1 glyphs/quoteleft.glif
1517310897.1 glyphs/quoteright.glif
1517310897.1 glyphs/quotesingle.glif
1517310897.1 glyphs/r.glif
1517310897.1 glyphs/registered.glif
1517310897.1 glyphs/ring.glif
1517310897.1 glyphs/s.glif
1517310897.1 glyphs/section.glif
1517310897.1 glyphs/semicolon.glif
1517310897.1 glyphs/seven.glif
1517310897.1 glyphs/six.glif
1517310897.1 glyphs/slash.glif
1517310897.1 glyphs/space.glif
1517310897.1 glyphs/sterling.glif
1517310897.1 glyphs/t.glif
1517310897.1 glyphs/thorn.glif
1517310897.1 glyphs/three.glif
1517310897.1 glyphs/threequarters.glif
1517310897.1 glyphs/threesuperior.glif
1517310897.1 glyphs/tilde.glif
1517310897.1 glyphs/two.glif
1517310897.2 glyphs/twosuperior.glif
1517310897.2 glyphs/u.glif
1517310897.2 glyphs/uacute.glif
1517310897.2 glyphs/ucircumflex.glif
1517310897.2 glyphs/udieresis.glif
1517310897.2 glyphs/ugrave.glif
1517310897.2 glyphs/underscore.glif
1517310897.2 glyphs/uniE_0F_F_.glif
1517310897.2 glyphs/uniE_F_F_D_.glif
1517310897.2 glyphs/uniF_000.glif
1517310897.2 glyphs/v.glif
1517310897.2 glyphs/w.glif
1517310897.2 glyphs/x.glif
1517310897.2 glyphs/y.glif
1517310897.2 glyphs/yacute.glif
1517310897.2 glyphs/ydieresis.glif
1517310897.2 glyphs/yen.glif
1517310897.2 glyphs/z.glif
1517310897.2 glyphs/zero.glif
1517310897.2 metainfo.plist</string>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>nonmarkingreturn</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Z</string>
		<string>AE</string>
		<string>OE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>oe</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>mu</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperscript</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>minus</string>
		<string>Euro</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>Bstroke</string>
		<string>asciicircum</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>space</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>chart.primitive</string>
		<string>chart.000</string>
		<string>chart.001</string>
		<string>chart.002</string>
		<string>chart.003</string>
		<string>chart.004</string>
		<string>chart.005</string>
		<string>chart.006</string>
		<string>chart.007</string>
		<string>chart.008</string>
		<string>chart.009</string>
		<string>chart.010</string>
		<string>chart.011</string>
		<string>chart.012</string>
		<string>chart.013</string>
		<string>chart.014</string>
		<string>chart.015</string>
		<string>chart.016</string>
		<string>chart.017</string>
		<string>chart.018</string>
		<string>chart.019</string>
		<string>chart.020</string>
		<string>chart.021</string>
		<string>chart.022</string>
		<string>chart.023</string>
		<string>chart.024</string>
		<string>chart.025</string>
		<string>chart.026</string>
		<string>chart.027</string>
		<string>chart.028</string>
		<string>chart.029</string>
		<string>chart.030</string>
		<string>chart.031</string>
		<string>chart.032</string>
		<string>chart.033</string>
		<string>chart.034</string>
		<string>chart.035</string>
		<string>chart.036</string>
		<string>chart.037</string>
		<string>chart.038</string>
		<string>chart.039</string>
		<string>chart.040</string>
		<string>chart.041</string>
		<string>chart.042</string>
		<string>chart.043</string>
		<string>chart.044</string>
		<string>chart.045</string>
		<string>chart.046</string>
		<string>chart.047</string>
		<string>chart.048</string>
		<string>chart.049</string>
		<string>chart.050</string>
		<string>chart.051</string>
		<string>chart.052</string>
		<string>chart.053</string>
		<string>chart.054</string>
		<string>chart.055</string>
		<string>chart.056</string>
		<string>chart.057</string>
		<string>chart.058</string>
		<string>chart.059</string>
		<string>chart.060</string>
		<string>chart.061</string>
		<string>chart.062</string>
		<string>chart.063</string>
		<string>chart.064</string>
		<string>chart.065</string>
		<string>chart.066</string>
		<string>chart.067</string>
		<string>chart.068</string>
		<string>chart.069</string>
		<string>chart.070</string>
		<string>chart.071</string>
		<string>chart.072</string>
		<string>chart.073</string>
		<string>chart.074</string>
		<string>chart.075</string>
		<string>chart.076</string>
		<string>chart.077</string>
		<string>chart.078</string>
		<string>chart.079</string>
		<string>chart.080</string>
		<string>chart.081</string>
		<string>chart.082</string>
		<string>chart.083</string>
		<string>chart.084</string>
		<string>chart.085</string>
		<string>chart.086</string>
		<string>chart.087</string>
		<string>chart.088</string>
		<string>chart.089</string>
		<string>chart.090</string>
		<string>chart.091</string>
		<string>chart.092</string>
		<string>chart.093</string>
		<string>chart.094</string>
		<string>chart.095</string>
		<string>chart.096</string>
		<string>chart.097</string>
		<string>chart.098</string>
		<string>chart.099</string>
		<string>chart.100</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowNE</string>
		<string>arrowNW</string>
		<string>arrowSE</string>
		<string>arrowSW</string>
		<string>uniF000</string>
		<string>uniEFFD</string>
		<string>uniE0FF</string>
		<string>nbspace</string>
		<string>ellipsis</string>
		<string>0152</string>
		<string>0153</string>
		<string>circle.d</string>
		<string>circle.l</string>
		<string>circle.w</string>
		<string>circle.arrowdown</string>
		<string>circle.arrowup</string>
	</array>
</dict>
</plist>
