<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@chart</key>
	<dict>
		<key>@numbers</key>
		<integer>150</integer>
	</dict>
	<key>@numbers</key>
	<dict>
		<key>@chart</key>
		<integer>150</integer>
	</dict>
</dict>
</plist>
