<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@chart</key>
	<array>
		<string>chart.000</string>
		<string>chart.001</string>
		<string>chart.002</string>
		<string>chart.003</string>
		<string>chart.004</string>
		<string>chart.005</string>
		<string>chart.006</string>
		<string>chart.007</string>
		<string>chart.008</string>
		<string>chart.009</string>
		<string>chart.010</string>
		<string>chart.011</string>
		<string>chart.012</string>
		<string>chart.013</string>
		<string>chart.014</string>
		<string>chart.015</string>
		<string>chart.016</string>
		<string>chart.017</string>
		<string>chart.018</string>
		<string>chart.019</string>
		<string>chart.020</string>
		<string>chart.021</string>
		<string>chart.022</string>
		<string>chart.023</string>
		<string>chart.024</string>
		<string>chart.025</string>
		<string>chart.026</string>
		<string>chart.027</string>
		<string>chart.028</string>
		<string>chart.029</string>
		<string>chart.030</string>
		<string>chart.031</string>
		<string>chart.032</string>
		<string>chart.033</string>
		<string>chart.034</string>
		<string>chart.035</string>
		<string>chart.036</string>
		<string>chart.037</string>
		<string>chart.038</string>
		<string>chart.039</string>
		<string>chart.040</string>
		<string>chart.041</string>
		<string>chart.042</string>
		<string>chart.043</string>
		<string>chart.044</string>
		<string>chart.045</string>
		<string>chart.046</string>
		<string>chart.047</string>
		<string>chart.048</string>
		<string>chart.049</string>
		<string>chart.050</string>
		<string>chart.051</string>
		<string>chart.052</string>
		<string>chart.053</string>
		<string>chart.054</string>
		<string>chart.055</string>
		<string>chart.056</string>
		<string>chart.057</string>
		<string>chart.058</string>
		<string>chart.059</string>
		<string>chart.060</string>
		<string>chart.061</string>
		<string>chart.062</string>
		<string>chart.063</string>
		<string>chart.064</string>
		<string>chart.065</string>
		<string>chart.066</string>
		<string>chart.067</string>
		<string>chart.068</string>
		<string>chart.069</string>
		<string>chart.070</string>
		<string>chart.071</string>
		<string>chart.072</string>
		<string>chart.073</string>
		<string>chart.074</string>
		<string>chart.075</string>
		<string>chart.076</string>
		<string>chart.077</string>
		<string>chart.078</string>
		<string>chart.079</string>
		<string>chart.080</string>
		<string>chart.081</string>
		<string>chart.082</string>
		<string>chart.083</string>
		<string>chart.084</string>
		<string>chart.085</string>
		<string>chart.086</string>
		<string>chart.087</string>
		<string>chart.088</string>
		<string>chart.089</string>
		<string>chart.090</string>
		<string>chart.091</string>
		<string>chart.092</string>
		<string>chart.093</string>
		<string>chart.094</string>
		<string>chart.095</string>
		<string>chart.096</string>
		<string>chart.097</string>
		<string>chart.098</string>
		<string>chart.099</string>
		<string>chart.100</string>
	</array>
	<key>@numbers</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
</dict>
</plist>
