<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>arrowNE</key>
	<string>arrowNE_.glif</string>
	<key>arrowNW</key>
	<string>arrowNW_.glif</string>
	<key>arrowSE</key>
	<string>arrowSE_.glif</string>
	<key>arrowSW</key>
	<string>arrowSW_.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chart.000</key>
	<string>chart.000.glif</string>
	<key>chart.001</key>
	<string>chart.001.glif</string>
	<key>chart.002</key>
	<string>chart.002.glif</string>
	<key>chart.003</key>
	<string>chart.003.glif</string>
	<key>chart.004</key>
	<string>chart.004.glif</string>
	<key>chart.005</key>
	<string>chart.005.glif</string>
	<key>chart.006</key>
	<string>chart.006.glif</string>
	<key>chart.007</key>
	<string>chart.007.glif</string>
	<key>chart.008</key>
	<string>chart.008.glif</string>
	<key>chart.009</key>
	<string>chart.009.glif</string>
	<key>chart.010</key>
	<string>chart.010.glif</string>
	<key>chart.011</key>
	<string>chart.011.glif</string>
	<key>chart.012</key>
	<string>chart.012.glif</string>
	<key>chart.013</key>
	<string>chart.013.glif</string>
	<key>chart.014</key>
	<string>chart.014.glif</string>
	<key>chart.015</key>
	<string>chart.015.glif</string>
	<key>chart.016</key>
	<string>chart.016.glif</string>
	<key>chart.017</key>
	<string>chart.017.glif</string>
	<key>chart.018</key>
	<string>chart.018.glif</string>
	<key>chart.019</key>
	<string>chart.019.glif</string>
	<key>chart.020</key>
	<string>chart.020.glif</string>
	<key>chart.021</key>
	<string>chart.021.glif</string>
	<key>chart.022</key>
	<string>chart.022.glif</string>
	<key>chart.023</key>
	<string>chart.023.glif</string>
	<key>chart.024</key>
	<string>chart.024.glif</string>
	<key>chart.025</key>
	<string>chart.025.glif</string>
	<key>chart.026</key>
	<string>chart.026.glif</string>
	<key>chart.027</key>
	<string>chart.027.glif</string>
	<key>chart.028</key>
	<string>chart.028.glif</string>
	<key>chart.029</key>
	<string>chart.029.glif</string>
	<key>chart.030</key>
	<string>chart.030.glif</string>
	<key>chart.031</key>
	<string>chart.031.glif</string>
	<key>chart.032</key>
	<string>chart.032.glif</string>
	<key>chart.033</key>
	<string>chart.033.glif</string>
	<key>chart.034</key>
	<string>chart.034.glif</string>
	<key>chart.035</key>
	<string>chart.035.glif</string>
	<key>chart.036</key>
	<string>chart.036.glif</string>
	<key>chart.037</key>
	<string>chart.037.glif</string>
	<key>chart.038</key>
	<string>chart.038.glif</string>
	<key>chart.039</key>
	<string>chart.039.glif</string>
	<key>chart.040</key>
	<string>chart.040.glif</string>
	<key>chart.041</key>
	<string>chart.041.glif</string>
	<key>chart.042</key>
	<string>chart.042.glif</string>
	<key>chart.043</key>
	<string>chart.043.glif</string>
	<key>chart.044</key>
	<string>chart.044.glif</string>
	<key>chart.045</key>
	<string>chart.045.glif</string>
	<key>chart.046</key>
	<string>chart.046.glif</string>
	<key>chart.047</key>
	<string>chart.047.glif</string>
	<key>chart.048</key>
	<string>chart.048.glif</string>
	<key>chart.049</key>
	<string>chart.049.glif</string>
	<key>chart.050</key>
	<string>chart.050.glif</string>
	<key>chart.051</key>
	<string>chart.051.glif</string>
	<key>chart.052</key>
	<string>chart.052.glif</string>
	<key>chart.053</key>
	<string>chart.053.glif</string>
	<key>chart.054</key>
	<string>chart.054.glif</string>
	<key>chart.055</key>
	<string>chart.055.glif</string>
	<key>chart.056</key>
	<string>chart.056.glif</string>
	<key>chart.057</key>
	<string>chart.057.glif</string>
	<key>chart.058</key>
	<string>chart.058.glif</string>
	<key>chart.059</key>
	<string>chart.059.glif</string>
	<key>chart.060</key>
	<string>chart.060.glif</string>
	<key>chart.061</key>
	<string>chart.061.glif</string>
	<key>chart.062</key>
	<string>chart.062.glif</string>
	<key>chart.063</key>
	<string>chart.063.glif</string>
	<key>chart.064</key>
	<string>chart.064.glif</string>
	<key>chart.065</key>
	<string>chart.065.glif</string>
	<key>chart.066</key>
	<string>chart.066.glif</string>
	<key>chart.067</key>
	<string>chart.067.glif</string>
	<key>chart.068</key>
	<string>chart.068.glif</string>
	<key>chart.069</key>
	<string>chart.069.glif</string>
	<key>chart.070</key>
	<string>chart.070.glif</string>
	<key>chart.071</key>
	<string>chart.071.glif</string>
	<key>chart.072</key>
	<string>chart.072.glif</string>
	<key>chart.073</key>
	<string>chart.073.glif</string>
	<key>chart.074</key>
	<string>chart.074.glif</string>
	<key>chart.075</key>
	<string>chart.075.glif</string>
	<key>chart.076</key>
	<string>chart.076.glif</string>
	<key>chart.077</key>
	<string>chart.077.glif</string>
	<key>chart.078</key>
	<string>chart.078.glif</string>
	<key>chart.079</key>
	<string>chart.079.glif</string>
	<key>chart.080</key>
	<string>chart.080.glif</string>
	<key>chart.081</key>
	<string>chart.081.glif</string>
	<key>chart.082</key>
	<string>chart.082.glif</string>
	<key>chart.083</key>
	<string>chart.083.glif</string>
	<key>chart.084</key>
	<string>chart.084.glif</string>
	<key>chart.085</key>
	<string>chart.085.glif</string>
	<key>chart.086</key>
	<string>chart.086.glif</string>
	<key>chart.087</key>
	<string>chart.087.glif</string>
	<key>chart.088</key>
	<string>chart.088.glif</string>
	<key>chart.089</key>
	<string>chart.089.glif</string>
	<key>chart.090</key>
	<string>chart.090.glif</string>
	<key>chart.091</key>
	<string>chart.091.glif</string>
	<key>chart.092</key>
	<string>chart.092.glif</string>
	<key>chart.093</key>
	<string>chart.093.glif</string>
	<key>chart.094</key>
	<string>chart.094.glif</string>
	<key>chart.095</key>
	<string>chart.095.glif</string>
	<key>chart.096</key>
	<string>chart.096.glif</string>
	<key>chart.097</key>
	<string>chart.097.glif</string>
	<key>chart.098</key>
	<string>chart.098.glif</string>
	<key>chart.099</key>
	<string>chart.099.glif</string>
	<key>chart.100</key>
	<string>chart.100.glif</string>
	<key>chart.primitive</key>
	<string>chart.primitive.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
