
@font-face {
    font-family: 'sparkdot-line';
    src: url('Spark - Dot-line - Medium.otf') format('otf'),
         url('spark-dotline-medium-webfont.woff2') format('woff2'),
         url('spark-dotline-medium-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
