<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@chart</key>
	<array>
		<string>dot.000</string>
		<string>dot.001</string>
		<string>dot.002</string>
		<string>dot.003</string>
		<string>dot.004</string>
		<string>dot.005</string>
		<string>dot.006</string>
		<string>dot.007</string>
		<string>dot.008</string>
		<string>dot.009</string>
		<string>line.000.000</string>
		<string>line.000.001</string>
		<string>line.000.002</string>
		<string>line.000.003</string>
		<string>line.000.004</string>
		<string>line.000.005</string>
		<string>line.000.006</string>
		<string>line.000.007</string>
		<string>line.000.008</string>
		<string>line.000.009</string>
		<string>line.001.000</string>
		<string>line.001.001</string>
		<string>line.001.002</string>
		<string>line.001.003</string>
		<string>line.001.004</string>
		<string>line.001.005</string>
		<string>line.001.006</string>
		<string>line.001.007</string>
		<string>line.001.008</string>
		<string>line.001.009</string>
		<string>line.002.000</string>
		<string>line.002.001</string>
		<string>line.002.002</string>
		<string>line.002.003</string>
		<string>line.002.004</string>
		<string>line.002.005</string>
		<string>line.002.006</string>
		<string>line.002.007</string>
		<string>line.002.008</string>
		<string>line.002.009</string>
		<string>line.003.000</string>
		<string>line.003.001</string>
		<string>line.003.002</string>
		<string>line.003.003</string>
		<string>line.003.004</string>
		<string>line.003.005</string>
		<string>line.003.006</string>
		<string>line.003.007</string>
		<string>line.003.008</string>
		<string>line.003.009</string>
		<string>line.004.000</string>
		<string>line.004.001</string>
		<string>line.004.002</string>
		<string>line.004.003</string>
		<string>line.004.004</string>
		<string>line.004.005</string>
		<string>line.004.006</string>
		<string>line.004.007</string>
		<string>line.004.008</string>
		<string>line.004.009</string>
		<string>line.005.000</string>
		<string>line.005.001</string>
		<string>line.005.002</string>
		<string>line.005.003</string>
		<string>line.005.004</string>
		<string>line.005.005</string>
		<string>line.005.006</string>
		<string>line.005.007</string>
		<string>line.005.008</string>
		<string>line.005.009</string>
		<string>line.006.000</string>
		<string>line.006.001</string>
		<string>line.006.002</string>
		<string>line.006.003</string>
		<string>line.006.004</string>
		<string>line.006.005</string>
		<string>line.006.006</string>
		<string>line.006.007</string>
		<string>line.006.008</string>
		<string>line.006.009</string>
		<string>line.007.000</string>
		<string>line.007.001</string>
		<string>line.007.002</string>
		<string>line.007.003</string>
		<string>line.007.004</string>
		<string>line.007.005</string>
		<string>line.007.006</string>
		<string>line.007.007</string>
		<string>line.007.008</string>
		<string>line.007.009</string>
		<string>line.008.000</string>
		<string>line.008.001</string>
		<string>line.008.002</string>
		<string>line.008.003</string>
		<string>line.008.004</string>
		<string>line.008.005</string>
		<string>line.008.006</string>
		<string>line.008.007</string>
		<string>line.008.008</string>
		<string>line.008.009</string>
		<string>line.009.000</string>
		<string>line.009.001</string>
		<string>line.009.002</string>
		<string>line.009.003</string>
		<string>line.009.004</string>
		<string>line.009.005</string>
		<string>line.009.006</string>
		<string>line.009.007</string>
		<string>line.009.008</string>
		<string>line.009.009</string>
	</array>
	<key>@numbers</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
</dict>
</plist>
