<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontfont.colorfont.auto_layer_include_baseglyph</key>
	<false/>
	<key>com.fontfont.colorfont.auto_layer_regex</key>
	<string>\.alt[0-9]{3}$</string>
	<key>com.fontfont.colorfont.bitmap_sizes</key>
	<array>
		<integer>20</integer>
		<integer>32</integer>
		<integer>40</integer>
		<integer>72</integer>
		<integer>96</integer>
		<integer>128</integer>
		<integer>256</integer>
		<integer>512</integer>
		<integer>1024</integer>
	</array>
	<key>com.fontfont.colorfont.color</key>
	<string>#000000</string>
	<key>com.fontfont.colorfont.colorbg</key>
	<string>#ffffff</string>
	<key>com.fontfont.colorfont.colorpalette</key>
	<array>
		<dict>
		</dict>
	</array>
	<key>com.fontfont.colorfont.prefer_placed_images</key>
	<false/>
	<key>com.fontfont.colorfont.write_cbdt</key>
	<false/>
	<key>com.fontfont.colorfont.write_colr</key>
	<true/>
	<key>com.fontfont.colorfont.write_sbix</key>
	<false/>
	<key>com.fontfont.colorfont.write_svg</key>
	<true/>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/mikegallagher/Dropbox/Work/Clients/After the Flood/Spark font/Output/Delivery/Atf Spark - v1-1/Spark - Dot-line - Medium - v1-8.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Z</string>
				<string>AE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>eth</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>dotlessi</string>
				<string>mu</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>dot.000</string>
				<string>dot.001</string>
				<string>dot.002</string>
				<string>dot.003</string>
				<string>dot.004</string>
				<string>dot.005</string>
				<string>dot.006</string>
				<string>dot.007</string>
				<string>dot.008</string>
				<string>dot.009</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>onesuperior</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>parenleft</string>
				<string>bracketleft</string>
				<string>braceleft</string>
				<string>parenright</string>
				<string>bracketright</string>
				<string>braceright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>asterisk</string>
				<string>comma</string>
				<string>period</string>
				<string>slash</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>question</string>
				<string>at</string>
				<string>backslash</string>
				<string>exclamdown</string>
				<string>periodcentered</string>
				<string>questiondown</string>
				<string>plus</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>bar</string>
				<string>asciitilde</string>
				<string>logicalnot</string>
				<string>plusminus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>minus</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>asciicircum</string>
				<string>grave</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>acute</string>
				<string>cedilla</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>copyright</string>
				<string>registered</string>
				<string>degree</string>
				<string>paragraph</string>
				<string>space</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>line.flat</string>
				<string>line.up.one</string>
				<string>line.up.two</string>
				<string>line.up.three</string>
				<string>line.up.four</string>
				<string>line.up.five</string>
				<string>line.up.six</string>
				<string>line.up.seven</string>
				<string>line.up.eight</string>
				<string>line.up.nine</string>
				<string>line.down.one</string>
				<string>line.down.two</string>
				<string>line.down.three</string>
				<string>line.down.four</string>
				<string>line.down.five</string>
				<string>line.down.six</string>
				<string>line.down.seven</string>
				<string>line.down.eight</string>
				<string>line.down.nine</string>
				<string>chart.dot</string>
				<string>line.000.000</string>
				<string>line.000.001</string>
				<string>line.000.002</string>
				<string>line.000.003</string>
				<string>line.000.004</string>
				<string>line.000.005</string>
				<string>line.000.006</string>
				<string>line.000.007</string>
				<string>line.000.008</string>
				<string>line.000.009</string>
				<string>line.001.000</string>
				<string>line.001.001</string>
				<string>line.001.002</string>
				<string>line.001.003</string>
				<string>line.001.004</string>
				<string>line.001.005</string>
				<string>line.001.006</string>
				<string>line.001.007</string>
				<string>line.001.008</string>
				<string>line.001.009</string>
				<string>line.002.000</string>
				<string>line.002.001</string>
				<string>line.002.002</string>
				<string>line.002.003</string>
				<string>line.002.004</string>
				<string>line.002.005</string>
				<string>line.002.006</string>
				<string>line.002.007</string>
				<string>line.002.008</string>
				<string>line.002.009</string>
				<string>line.003.000</string>
				<string>line.003.001</string>
				<string>line.003.002</string>
				<string>line.003.003</string>
				<string>line.003.004</string>
				<string>line.003.005</string>
				<string>line.003.006</string>
				<string>line.003.007</string>
				<string>line.003.008</string>
				<string>line.003.009</string>
				<string>line.004.000</string>
				<string>line.004.001</string>
				<string>line.004.002</string>
				<string>line.004.003</string>
				<string>line.004.004</string>
				<string>line.004.005</string>
				<string>line.004.006</string>
				<string>line.004.007</string>
				<string>line.004.008</string>
				<string>line.004.009</string>
				<string>line.005.000</string>
				<string>line.005.001</string>
				<string>line.005.002</string>
				<string>line.005.003</string>
				<string>line.005.004</string>
				<string>line.005.005</string>
				<string>line.005.006</string>
				<string>line.005.007</string>
				<string>line.005.008</string>
				<string>line.005.009</string>
				<string>line.006.000</string>
				<string>line.006.001</string>
				<string>line.006.002</string>
				<string>line.006.003</string>
				<string>line.006.004</string>
				<string>line.006.005</string>
				<string>line.006.006</string>
				<string>line.006.007</string>
				<string>line.006.008</string>
				<string>line.006.009</string>
				<string>line.007.000</string>
				<string>line.007.001</string>
				<string>line.007.002</string>
				<string>line.007.003</string>
				<string>line.007.004</string>
				<string>line.007.005</string>
				<string>line.007.006</string>
				<string>line.007.007</string>
				<string>line.007.008</string>
				<string>line.007.009</string>
				<string>line.008.000</string>
				<string>line.008.001</string>
				<string>line.008.002</string>
				<string>line.008.003</string>
				<string>line.008.004</string>
				<string>line.008.005</string>
				<string>line.008.006</string>
				<string>line.008.007</string>
				<string>line.008.008</string>
				<string>line.008.009</string>
				<string>line.009.000</string>
				<string>line.009.001</string>
				<string>line.009.002</string>
				<string>line.009.003</string>
				<string>line.009.004</string>
				<string>line.009.005</string>
				<string>line.009.006</string>
				<string>line.009.007</string>
				<string>line.009.008</string>
				<string>line.009.009</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>endash</string>
				<string>emdash</string>
				<string>Euro</string>
				<string>arrowleft</string>
				<string>arrowup</string>
				<string>arrowright</string>
				<string>arrowdown</string>
				<string>arrowNE</string>
				<string>arrowNW</string>
				<string>arrowSE</string>
				<string>arrowSW</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Z</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>mu</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>dot.000</string>
		<string>dot.001</string>
		<string>dot.002</string>
		<string>dot.003</string>
		<string>dot.004</string>
		<string>dot.005</string>
		<string>dot.006</string>
		<string>dot.007</string>
		<string>dot.008</string>
		<string>dot.009</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>minus</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>space</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>line.flat</string>
		<string>line.up.one</string>
		<string>line.up.two</string>
		<string>line.up.three</string>
		<string>line.up.four</string>
		<string>line.up.five</string>
		<string>line.up.six</string>
		<string>line.up.seven</string>
		<string>line.up.eight</string>
		<string>line.up.nine</string>
		<string>line.down.one</string>
		<string>line.down.two</string>
		<string>line.down.three</string>
		<string>line.down.four</string>
		<string>line.down.five</string>
		<string>line.down.six</string>
		<string>line.down.seven</string>
		<string>line.down.eight</string>
		<string>line.down.nine</string>
		<string>chart.dot</string>
		<string>line.000.000</string>
		<string>line.000.001</string>
		<string>line.000.002</string>
		<string>line.000.003</string>
		<string>line.000.004</string>
		<string>line.000.005</string>
		<string>line.000.006</string>
		<string>line.000.007</string>
		<string>line.000.008</string>
		<string>line.000.009</string>
		<string>line.001.000</string>
		<string>line.001.001</string>
		<string>line.001.002</string>
		<string>line.001.003</string>
		<string>line.001.004</string>
		<string>line.001.005</string>
		<string>line.001.006</string>
		<string>line.001.007</string>
		<string>line.001.008</string>
		<string>line.001.009</string>
		<string>line.002.000</string>
		<string>line.002.001</string>
		<string>line.002.002</string>
		<string>line.002.003</string>
		<string>line.002.004</string>
		<string>line.002.005</string>
		<string>line.002.006</string>
		<string>line.002.007</string>
		<string>line.002.008</string>
		<string>line.002.009</string>
		<string>line.003.000</string>
		<string>line.003.001</string>
		<string>line.003.002</string>
		<string>line.003.003</string>
		<string>line.003.004</string>
		<string>line.003.005</string>
		<string>line.003.006</string>
		<string>line.003.007</string>
		<string>line.003.008</string>
		<string>line.003.009</string>
		<string>line.004.000</string>
		<string>line.004.001</string>
		<string>line.004.002</string>
		<string>line.004.003</string>
		<string>line.004.004</string>
		<string>line.004.005</string>
		<string>line.004.006</string>
		<string>line.004.007</string>
		<string>line.004.008</string>
		<string>line.004.009</string>
		<string>line.005.000</string>
		<string>line.005.001</string>
		<string>line.005.002</string>
		<string>line.005.003</string>
		<string>line.005.004</string>
		<string>line.005.005</string>
		<string>line.005.006</string>
		<string>line.005.007</string>
		<string>line.005.008</string>
		<string>line.005.009</string>
		<string>line.006.000</string>
		<string>line.006.001</string>
		<string>line.006.002</string>
		<string>line.006.003</string>
		<string>line.006.004</string>
		<string>line.006.005</string>
		<string>line.006.006</string>
		<string>line.006.007</string>
		<string>line.006.008</string>
		<string>line.006.009</string>
		<string>line.007.000</string>
		<string>line.007.001</string>
		<string>line.007.002</string>
		<string>line.007.003</string>
		<string>line.007.004</string>
		<string>line.007.005</string>
		<string>line.007.006</string>
		<string>line.007.007</string>
		<string>line.007.008</string>
		<string>line.007.009</string>
		<string>line.008.000</string>
		<string>line.008.001</string>
		<string>line.008.002</string>
		<string>line.008.003</string>
		<string>line.008.004</string>
		<string>line.008.005</string>
		<string>line.008.006</string>
		<string>line.008.007</string>
		<string>line.008.008</string>
		<string>line.008.009</string>
		<string>line.009.000</string>
		<string>line.009.001</string>
		<string>line.009.002</string>
		<string>line.009.003</string>
		<string>line.009.004</string>
		<string>line.009.005</string>
		<string>line.009.006</string>
		<string>line.009.007</string>
		<string>line.009.008</string>
		<string>line.009.009</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>endash</string>
		<string>emdash</string>
		<string>Euro</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowNE</string>
		<string>arrowNW</string>
		<string>arrowSE</string>
		<string>arrowSW</string>
	</array>
</dict>
</plist>
