<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>707</integer>
	<key>capHeight</key>
	<integer>707</integer>
	<key>copyright</key>
	<string>© 2017 After the Flood</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Spark</string>
	<key>postscriptBlueValues</key>
	<array>
		<integer>94</integer>
		<integer>104</integer>
		<integer>604</integer>
		<integer>614</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>styleName</key>
	<string>Dot Medium</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>2</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
