<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49988573-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-49988573-3');
</script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/fonts.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/type.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/layout.css' }}" type="text/css">
    <link rel="stylesheet" href="/sparks/styles/font-faces.css">
    <link rel="stylesheet" href="/sparks/styles/font-styles.css">
    <title>After The Flood</title>
  </head>
  <body>
    <div class="page">

			<header>
				<ul>
					<li class="page-title"><a href="/">After the flood, tools</a></li>
					<li>Design and code for communicating with data</li>
					<li class="main-site-link"><a href="https://aftertheflood.com/">(Go to Aftertheflood.com)</a></li>
				</ul>
			</header>

			<h1>Sparks</h1>

      <div role="main" class="content project">
        {{ content }}
      </div>
      
      <footer>
        <p class="secondary">
          <a href="aftertheflood.com/">After the flood</a>
          <br>140–142 St John St, London, EC1V 4UB, UK
          <br>info@aftertheflood.com
          <br><a href="https://twitter.com/AftertheFloodco">@Afterthefloodco</a>
          <br>Registered in England and Wales as After the flood Limited. 7792366
        </p>
      </footer>

    </div>
  </body>
</html>