<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/type.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/layout.css' }}" type="text/css">
    <link rel="stylesheet" href="/sparks/styles/font-faces.css">
    <link rel="stylesheet" href="/sparks/styles/font-styles.css">
    <title>After The Flood</title>
  </head>
  <body>
    <div class="page">

			<header>
				<ul>
					<li class="page-title"><a href="/">After the Flood</a></li>
					<li>Making new services from data</li>
				</ul>
			</header>

			<div role="primary title" class="mini-site-title content">
				<h1>
					Sparks
				</h1>
			</div>

      <div role="main" class="content project">
        {{ content }}
      </div>
      
      <footer>
        <p class="secondary">
          After the flood
          <br>140–142 St John St, London, EC1V 4UB, UK
          <br>info@aftertheflood.com
          <br><a href="https://twitter.com/AftertheFloodco">@Afterthefloodco</a>
          <br>Registered in England and Wales as After the flood Limited. 7792366
        </p>
      </footer>

    </div>
  </body>
</html>