<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/atf-noah/Dropbox/Work/Clients/After the Flood/Spark font/Output/Spark - Bar - Medium - v1-10.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Z</string>
				<string>AE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>eth</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>dotlessi</string>
				<string>mu</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>onesuperior</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>parenleft</string>
				<string>bracketleft</string>
				<string>braceleft</string>
				<string>parenright</string>
				<string>bracketright</string>
				<string>braceright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>asterisk</string>
				<string>comma</string>
				<string>period</string>
				<string>slash</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>question</string>
				<string>at</string>
				<string>backslash</string>
				<string>exclamdown</string>
				<string>periodcentered</string>
				<string>questiondown</string>
				<string>plus</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>bar</string>
				<string>asciitilde</string>
				<string>logicalnot</string>
				<string>plusminus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>minus</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>asciicircum</string>
				<string>grave</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>acute</string>
				<string>cedilla</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>copyright</string>
				<string>registered</string>
				<string>degree</string>
				<string>paragraph</string>
				<string>space</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>chart.primitive</string>
				<string>chart.000</string>
				<string>chart.001</string>
				<string>chart.002</string>
				<string>chart.003</string>
				<string>chart.004</string>
				<string>chart.005</string>
				<string>chart.006</string>
				<string>chart.007</string>
				<string>chart.008</string>
				<string>chart.009</string>
				<string>chart.010</string>
				<string>chart.011</string>
				<string>chart.012</string>
				<string>chart.013</string>
				<string>chart.014</string>
				<string>chart.015</string>
				<string>chart.016</string>
				<string>chart.017</string>
				<string>chart.018</string>
				<string>chart.019</string>
				<string>chart.020</string>
				<string>chart.021</string>
				<string>chart.022</string>
				<string>chart.023</string>
				<string>chart.024</string>
				<string>chart.025</string>
				<string>chart.026</string>
				<string>chart.027</string>
				<string>chart.028</string>
				<string>chart.029</string>
				<string>chart.030</string>
				<string>chart.031</string>
				<string>chart.032</string>
				<string>chart.033</string>
				<string>chart.034</string>
				<string>chart.035</string>
				<string>chart.036</string>
				<string>chart.037</string>
				<string>chart.038</string>
				<string>chart.039</string>
				<string>chart.040</string>
				<string>chart.041</string>
				<string>chart.042</string>
				<string>chart.043</string>
				<string>chart.044</string>
				<string>chart.045</string>
				<string>chart.046</string>
				<string>chart.047</string>
				<string>chart.048</string>
				<string>chart.049</string>
				<string>chart.050</string>
				<string>chart.051</string>
				<string>chart.052</string>
				<string>chart.053</string>
				<string>chart.054</string>
				<string>chart.055</string>
				<string>chart.056</string>
				<string>chart.057</string>
				<string>chart.058</string>
				<string>chart.059</string>
				<string>chart.060</string>
				<string>chart.061</string>
				<string>chart.062</string>
				<string>chart.063</string>
				<string>chart.064</string>
				<string>chart.065</string>
				<string>chart.066</string>
				<string>chart.067</string>
				<string>chart.068</string>
				<string>chart.069</string>
				<string>chart.070</string>
				<string>chart.071</string>
				<string>chart.072</string>
				<string>chart.073</string>
				<string>chart.074</string>
				<string>chart.075</string>
				<string>chart.076</string>
				<string>chart.077</string>
				<string>chart.078</string>
				<string>chart.079</string>
				<string>chart.080</string>
				<string>chart.081</string>
				<string>chart.082</string>
				<string>chart.083</string>
				<string>chart.084</string>
				<string>chart.085</string>
				<string>chart.086</string>
				<string>chart.087</string>
				<string>chart.088</string>
				<string>chart.089</string>
				<string>chart.090</string>
				<string>chart.091</string>
				<string>chart.092</string>
				<string>chart.093</string>
				<string>chart.094</string>
				<string>chart.095</string>
				<string>chart.096</string>
				<string>chart.097</string>
				<string>chart.098</string>
				<string>chart.099</string>
				<string>chart.100</string>
				<string>endash</string>
				<string>emdash</string>
				<string>Euro</string>
				<string>arrowleft</string>
				<string>arrowup</string>
				<string>arrowright</string>
				<string>arrowdown</string>
				<string>arrowNE</string>
				<string>arrowNW</string>
				<string>arrowSE</string>
				<string>arrowSW</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Z</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>mu</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>minus</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>space</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>chart.primitive</string>
		<string>chart.000</string>
		<string>chart.001</string>
		<string>chart.002</string>
		<string>chart.003</string>
		<string>chart.004</string>
		<string>chart.005</string>
		<string>chart.006</string>
		<string>chart.007</string>
		<string>chart.008</string>
		<string>chart.009</string>
		<string>chart.010</string>
		<string>chart.011</string>
		<string>chart.012</string>
		<string>chart.013</string>
		<string>chart.014</string>
		<string>chart.015</string>
		<string>chart.016</string>
		<string>chart.017</string>
		<string>chart.018</string>
		<string>chart.019</string>
		<string>chart.020</string>
		<string>chart.021</string>
		<string>chart.022</string>
		<string>chart.023</string>
		<string>chart.024</string>
		<string>chart.025</string>
		<string>chart.026</string>
		<string>chart.027</string>
		<string>chart.028</string>
		<string>chart.029</string>
		<string>chart.030</string>
		<string>chart.031</string>
		<string>chart.032</string>
		<string>chart.033</string>
		<string>chart.034</string>
		<string>chart.035</string>
		<string>chart.036</string>
		<string>chart.037</string>
		<string>chart.038</string>
		<string>chart.039</string>
		<string>chart.040</string>
		<string>chart.041</string>
		<string>chart.042</string>
		<string>chart.043</string>
		<string>chart.044</string>
		<string>chart.045</string>
		<string>chart.046</string>
		<string>chart.047</string>
		<string>chart.048</string>
		<string>chart.049</string>
		<string>chart.050</string>
		<string>chart.051</string>
		<string>chart.052</string>
		<string>chart.053</string>
		<string>chart.054</string>
		<string>chart.055</string>
		<string>chart.056</string>
		<string>chart.057</string>
		<string>chart.058</string>
		<string>chart.059</string>
		<string>chart.060</string>
		<string>chart.061</string>
		<string>chart.062</string>
		<string>chart.063</string>
		<string>chart.064</string>
		<string>chart.065</string>
		<string>chart.066</string>
		<string>chart.067</string>
		<string>chart.068</string>
		<string>chart.069</string>
		<string>chart.070</string>
		<string>chart.071</string>
		<string>chart.072</string>
		<string>chart.073</string>
		<string>chart.074</string>
		<string>chart.075</string>
		<string>chart.076</string>
		<string>chart.077</string>
		<string>chart.078</string>
		<string>chart.079</string>
		<string>chart.080</string>
		<string>chart.081</string>
		<string>chart.082</string>
		<string>chart.083</string>
		<string>chart.084</string>
		<string>chart.085</string>
		<string>chart.086</string>
		<string>chart.087</string>
		<string>chart.088</string>
		<string>chart.089</string>
		<string>chart.090</string>
		<string>chart.091</string>
		<string>chart.092</string>
		<string>chart.093</string>
		<string>chart.094</string>
		<string>chart.095</string>
		<string>chart.096</string>
		<string>chart.097</string>
		<string>chart.098</string>
		<string>chart.099</string>
		<string>chart.100</string>
		<string>endash</string>
		<string>emdash</string>
		<string>Euro</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowNE</string>
		<string>arrowNW</string>
		<string>arrowSE</string>
		<string>arrowSW</string>
	</array>
</dict>
</plist>
